.main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
}

.header {
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-dark);
}

/* ============================================================= */

.form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

/* ============================================================= */

.searchBar {
    display: flex;
    border-radius: 10px;
    box-shadow: var(--shadow);
    overflow: hidden;
    background-color: white;
}

.searchBar button {
    background-color: transparent;
    border: none;
}

.searchBar input {
    min-width: 0;
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
    outline: none;
    background-color: transparent;
}

.searchBar svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    flex-shrink: 0;
    background-color: transparent;
}

.searchBar input, .searchBar svg {
    box-sizing: content-box;
    padding: 0.7rem;
}

.searchBar button:hover svg {
    fill: var(--primary-dark);
}

/* ============================================================= */

.filters {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--shadow);
    row-gap: 2rem;
}

/* ============================================================= */

.resultCount {
    display: block;
    text-align: center;
}

.results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

@media (max-width: 1024px) {
    .main {
        padding: 1rem;
    }
    .results {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .results {
        grid-template-columns: 1fr;
    }
}

/* ============================================================= */
.paginationButtons {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    border: 1px solid var(--primary-dark);
}

.paginationButtons button {
    border: none;
    padding: 1rem;
    background-color: white;
    cursor: pointer;
    font-weight: 700;
    transition: 0.15s ease-in-out;
}

.paginationButtons button:hover {
    background-color: var(--primary-dark);
    color: white;
}