.container {
    width: min(600px, 100%);
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.container2 {
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.container h1 {
    text-align: center;
    color: var(--primary-dark);
}

.container p, .container2 p {
    font-style: italic;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}