.formSection {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.sectionHeader {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid rgba(230, 230, 230);
}

/* ### INFORMATION FORM STYLES */
.mapButton, .actualLocationButton {
    padding: 0.7rem 0;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.mapButton {
    background-color: #84b38d57;
    border: 1px solid var(--primary-dark);
    color: var(--primary-dark);
    transition: 0.2s ease-in-out;
}

.mapButton:hover {
    background-color: #84b38d7d;
}

.actualLocationButton {
    background-color: white;
    border: 1px solid rgba(220, 220, 220);
    color: #333333;
    transition: 0.2s ease-in-out;
}

.actualLocationButton:hover {
    background-color: rgba(245, 245, 245);
    border: 1px solid rgba(200, 200, 200);
}

.textarea {
    resize: vertical;
    size: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #CCCC;
    outline: none;
}

.textarea:focus {
    outline: none;
}

@media (max-width: 600px) {
    .sectionHeader {
        font-size: 1.1rem;
    }

}