.data {
    margin-top: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 2rem;
}

.infoGroup {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.infoGroup > div {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.infoGroup > div > * {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border: 2px solid var(--primary-dark);
    border-radius: 10px;
    padding: 1rem;
}

.infoGroup > div > * > span:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 700;
}

.updateButton {
    position: fixed;
    bottom: 100px;
    right: 20px;
    padding: 1.5rem;
    border: 1px solid var(--primary-dark);
    background-color: white;
    border-radius: 5px;
    box-sizing: content-box;
}

.updateButton {
    width: 30px;
    height: 30px;
    fill: var(--primary-dark);
}

@media (max-width: 900px) {
    .info, .infoGroup {
        padding-inline: 1.5rem;
    }
}

@media (max-width: 768px) {
    .infoGroup > div {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .infoGroup > div {
        grid-template-columns: 1fr;
    }
}