.tabs {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.tabs button {
    text-align: center;
    flex-grow: 1;
    padding: 1rem;
    cursor: pointer;
    flex: 1;
    font-weight: 700;
    background-color: transparent;
    border: none;
}

.tabs button:hover {
    background-color: rgba(245, 245, 245);
}

.tabs button.selected {
    background-color: rgba(122, 143, 92, 0.1);
    border-bottom: 3px solid var(--primary-dark);
}

.forms {
    padding: 2rem;
}