.actionBar {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: white;
    display: flex;
    z-index: 999999;
}


.actionBar a, .actionBar button {
    padding: 1rem;
    flex-grow: 1;
    cursor: pointer;
}

.actionBar button {
    background-color: transparent;
    border: none;
}

.actionBar svg {
    fill: black;
    width: 30px;
    height: 30px;
}

.actionBar a:hover svg, .actionBar button:hover svg {
    fill: var(--primary-dark);
}

@media (max-width: 768px) {
    .actionBar {
        bottom: 0px;
        left: 0px;
        width: 100%;
        border-radius: 0;
        transform: translate(0px);
    }
    .actionBar a {
        text-align: center;
    }
}