.container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 5px;
    margin: 2rem;
    transition: 0.2s ease-in-out;
}


.container h1 {
    text-align: center;
    color: var(--primary-dark);
}

.container p {
    font-style: italic;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form input {
    width: 100%;
}