.map {
    width: 100%;
    height: 100vh;
}

.popup {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0.5rem;
}

.popup>h2 {
    text-align: left;
    font-size: 1.4rem;
    padding-block: 1rem;
    border-bottom: 1px solid #CCCC;
}

.popupData {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.dataItem h3 {
    font-size: 1.3rem;

}

.dataItem {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.dataItem span {
    color: #6B7280;
    font-size: 1.2rem;
    font-weight: 600;
}

.button {
    padding: 0.5rem 1rem;
    background-color: var(--primary-dark);
    font-size: 1.2rem;
    border-radius: 10px;
    color: white !important;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: var(--primary-darker);
}

/* Ajuste para telas mobile */
@media (max-width: 640px) {

    /* Empurra os controles do topo para baixo */
    :global(.leaflet-top) {
        margin-top: 70px;
        /* Altura aproximada da sua barra de pesquisa */
    }

    /* Se a barra estiver embaixo, ajuste o .leaflet-bottom */
    :global(.leaflet-bottom) {
        margin-bottom: 20px;
    }
}